
@font-face {
    font-family: 'Jaapokki';
    src: url('../fonts/jaapokki.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* NavBar */
.navbar .navbar-nav .nav-item .book-now {
    border-radius: 35px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Jaapokki';
    font-size: 16px;
    color: #fff;
    background: #aa9144;
    border-color: #aa9144;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.book-now {
    border-radius: 35px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Jaapokki';
    font-size: 16px;
    color: #fff;
    background: #aa9144;
    border-color: #aa9144;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.book-now:hover {
    background: #aa9144;
    border-color: #aa9144;
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Jaapokki';
    font-size: 18px;
    color: #000;
}

.navbar .navbar-brand:hover {
    font-family: 'Jaapokki';
    font-size: 25px;
    color: #000;
}

.navbar .home .nav-item .nav-link {
    font-family: 'Jaapokki';
    font-size: 18px;
    color: #f1f1f1;
}

.nav .nav-item .nav-link {
    font-family: 'Jaapokki';
    color: #999;
    font-size: 16px;
    letter-spacing: .1em;
}

.navbar .nav-item .nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #aa9144;
}

.nav .active>.nav-link {
    color: #aa9144;
}

.navbar .navbar-brand {
    font-family: 'Jaapokki';
    font-size: 25px;
    color: #000;
}

/* Background */
.background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../imgs/panoramicofinside.jpg');
    height: 60%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
}

.background h1 {
    font-family: 'Jaapokki';
    font-size: 65px;
    color: #fff;
    letter-spacing: 0em;
}
  
/* Content */
h1 {
    font-family: 'Jaapokki';
    font-size: 36px;
    letter-spacing: .2em;
    color: #000;
}

.heading {
    margin-top: 8%;
}

.content {
    position: absolute;
    text-align: center;
    top: 50%;
    color: #f1f1f1;
    width: 100%;
}

body {
    background-color: #e8eddf;
}


.description {
    font-family: 'roboto mono';
    font-size: 14px;
    color: #999;
}

/* Footer */
.footer h4 {
    font-family: 'Jaapokki';
    font-size: 25px;
}


.container-fluid .footer {
    margin-left: -15px;
    margin-right: -15px;
}

.footer {
    background-color: white;
}
.social a {
    font-size: 16px;
    color: #999;
}

/* Services On Home Page */

.home-services a:hover {
    text-decoration: none;
}

.home-services h6 {
    font-family: 'Jaapokki';
    font-size: 14px;
    letter-spacing: .2em;
    color: #000;
}

.home-services h6:hover {
    color: #aa9144;
}

.services h6 {
    font-family: 'Jaapokki';
    font-size: 14px;
    letter-spacing: .2em;
    color: #000;
}

.services .price {
    font-family: 'Jaapokki';
    font-size: 36px;
    letter-spacing: .2em;
    color: #000;
}

.services .cents {
    font-family: 'Jaapokki';
    font-size: 23.76px;
    letter-spacing: .2em;
    color: #000;
}

p {
    font-family: 'roboto mono';
    font-size: 12px;
    color: #999;
    margin-top: 0.8em;
    margin-bottom: 0.8em; 
}

/* Barber Cards */

.card-title {
    font-family: 'Jaapokki';
    font-size: 14px;
    letter-spacing: .2em;
    color: #000;
}

.card-title:focus {
    outline: 0;
}

.barber-social a {
    font-size: 16px;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-item h5 {
    font-family: 'Jaapokki';
    font-size: 20px;
    letter-spacing: .2em;
    color: #000;
}

.carousel-item p {
    font-family: 'roboto mono';
    font-size: 13px;
    color: #999; 
}

.carousel-control-prev, .carousel-control-next, .carousel-control-prev:hover, .carousel-control-next:hover {
    color: #999
}

#map {
    height: 750px;
}

.shop-history p {
    font-size: 14px;
}

.about-width {
    width: 75%;
}

@media (min-width: 576px) {

    .map-canvas {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .background-red {
        background-color: red;
    }
}

@media (min-width: 992px) {
    .map-content {
        background-color: white;
        position: absolute;
        top: 50px;
        left: 7%;
        width: 300px;
    }

    .map-canvas {
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
    }

    .about-width {
        width: 53%;
    }
}

.times {
    font-size: 10px;
}

h4 {
    font-family: 'Jaapokki';
    font-size: 24px;
    letter-spacing: .2em;
    color: #000;
}

hr {
    width: 50%;
}

.navbar P {
    font-size: 1.125rem;
    width: 95px;
    font-family: 'Jaapokki';
}

.navbar span {
    font-size: 0.875rem;
    font-family: 'Jaapokki';

}

.steps {
    letter-spacing: 0.9rem;
}

.position-center {
    left: 50%;
    top: -35%;
    transform: translateX(-50%);
}

.negative-margin {
    margin-top: -10%;
}

.appointment-progress {
    margin-top: 0.9%;
}

.appointment-progress span {
    color: black;
}

.appointment-progress p {
    color: black;
}

.bg-gold {
    background-color: #aa9144;
}

.progress {
    background-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 5px;
}

.almost-done {
    margin-top: 1.8%;
    color: black;
}