<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <title>Don's Barbershop - About</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" href="/">Don's Barbershop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link book-now" href="/book-now">Book Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="background">
    <h1 class="content">About</h1>
  </div>

  </div>

  <div class="container text-center my-5 w-50">
    <h1>Shop History</h1>
    <p class="mt-3">Back in the late 1800’s and early 1900’s barber shops were places for men to get together and discuss anything
      and everything. While some were attracted to saloons and pool halls, other fellows were visiting the local barber
      shop once a week and sometimes even more often. You might say the barber shop was a public man cave. Oh, you could
      count on getting a good shave or haircut when you needed it but, even when you didn’t need a haircut, the barber
      shop was the place to go. The shop was usually full of experts on any subject. You could sit there and in just a
      short time get more of the local and national news than the newspaper or TV would ever give you. You could count
      on someone giving an eye-witness account of any local event (whether they were at the event or not). Barber shops
      qualify as institutions of higher learning right along with universities and colleges. In the barber shop you can
      learn about subjects such as: History, “Bubba’s still was at that location for more than 20 years before the
      revenuers found it.” ; Politics, “Old Harry Truman would have …” ; Sex Education, “Stumpy’s bull went thru the
      fence again and had his way with Tommy’s cow.” ; Medicine, “That sassafras tea works every time.” ; Geography,
      “The fishing is so good back there that you have to hide behind a tree to bait your hook.” . The list goes on with
      almost any topic you can name. Don finished barber college back in 19?? and built Don’s Barber Shop in 1959. Over
      the next 53 years Don and the shop became a landmark in the thriving community of King. In that time they have
      groomed sometimes as many as 3 or 4 generations of the same family. Don always maintained a friendly and welcoming
      atmosphere and that tradition has been continued by our barbers. That tradition was very important to Don at
      retirement and he was careful to appoint someone to the job who would treat the shop’s customers the same way Don
      himself had done for more than 5 decades. Whether you need a haircut or not, Don’s is a place you will definitely
      want to visit often. Come sit a spell and meet with your friends and neighbors to catch up on the latest news,
      listen to some history tales and enjoy some good fellowship. Hear all about how Slim landed that 15 pound catfish
      (which the last time he told the story had grown to 31 pounds). Folks are predicting that by early winter the
      weight of that fish will be estimated at 75 pounds or more. Take a break, catch your breath and let the rest of
      the world go around you.</p>
  </div>
  <div class="container-fluid footer text-center">
    <h4 class="pt-5">Don's Barbershop</h4>

    <ul class="nav justify-content-center d-flex mt-5">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
    </ul>

    <div class="container mt-3 text-center social">
      <a target="_blank" class="mr-2" href="https://www.facebook.com/Donsbarbershopofking/?fref=ts"><i
          class="fab fa-facebook-f"></i></a>
      <a target="_blank" href="https://www.instagram.com/j.donsbarbershop59/?igshid=18w2iv4f5w46"><i
          class="fab fa-instagram"></i></a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/50e641aaff.js" crossorigin="anonymous"></script>
</body>

</html>